<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index test</title>
    <style>
        .column {
            float: left;
            widows: 33%;
            padding: 10px;
            height: 30px;
            background: lightgreen;
            border-color: white;
            /* border-style: solid; */
            border-width: 3px 3px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
            /* background: white; */
        }
    </style>
</head>

<body>
    <div class="row" style="background-color: lightgreen;">
        <div class="column">
            <a href="/index">main page</a>
        </div>
        <div class="column">
            <a href="/login">log in</a>
            <!-- action -->
        </div>
        <div class="column">
            <a href="/product">product</a>
        </div>

        <div class="column">
            <a href="/about">about</a>
        </div>



        <div class="column">
            <a href="/statusReport">statuc_report</a>
        </div>
        <div class="column">
            <a href="/branchReport"></a>
        </div>
        <div class="column">
            <a href="/salesReport"></a>
        </div>
        <div class="column">
            <a href="/financialReport"></a>
        </div>
        <div class="column">
            <a href="/analyzeData">analyst data</a>
        </div>
        <div class="column">
            <a href="/upload">branch upload</a>
        </div>

        <div class="column">
            <a href="/analyzeData">ana data</a>
        </div>
        <div class="column">
            <a href="/analysisReport">ana report</a>
        </div>
    </div>
    <hr>
</body>

</html>